<h1 class="text-center">Welcome to Language Learning App</h1>
<p class="text-center text-muted">This web application was created to fulfill Web Technology module’s requirements and does not represent an actual company or service.</p>
<p class="text-center text-muted"><small>&copy;00017394 WIUT Student</small></p>